.contact-us {
  background-color: #282828;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}

.get-in-touch {
  font-weight: 600;
  font-size: 30px;
  width: max-content;
  color: #ffffff;
  border-bottom: 2px solid#ff6600;
  margin: 0 50px;
  padding: 0 5px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.central-support {
  color: #ff6600;
}

.contact form {
  padding: 20px 40px;
  flex: 50%;
  border-right: 2px solid #ff6600;
}

.contact-submit {
  background-color: #ff6600;
  padding: 10px 15px;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  border: 2px solid #282828;
  border-radius: 10px;
  font-size: medium;  
  margin-left: 5px;
}

.contact-submit:hover {
  background-color: #FFFFFF;
  color: #282828;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.contact-details {
  padding: 20px 40px;
  flex: 30%;
  width: max-content;
}

.contact-details p {
  color: #ffffff;
  max-width: 340px;
}

/* .personal-details input {
  border: none;
  width: 50%;
  height: 40px;
  margin: 10px;
  border-radius: 8px;
  padding: 8px;
  font-family: "Poppins", sans-serif;
} */

.personal-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
} 


.contact-item {
  width: 100%;
  margin: 10px 0;
  height: 40px;
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-family: "Poppins", sans-serif;
}

.name, .email {
  margin-right: 10px;
}

.message {
    height: 200px;
}

.contact-page {
  margin-top: 80px;
}

@media screen and (max-width: 500px) {
  .contact form {
    border-right: none;
  }

  .contact-details {
    border-left: 2px solid #ff6600;
    padding: 0 15px;
    max-width: 350px;
    /* margin-left: 12px; */
  }

  .personal-details {
    display: flex;
    flex-direction: column;
  }
}
