.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 30px;
}

.slide {
    width: 60vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    object-fit: cover;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
}

.animate-slide {
    opacity: 1;
}

.arrow-head {
    font-size: 40px;
    margin: 20px;
    color: #FF6600;
    cursor: pointer;
}

.slide-img {
    position: relative;
}

.dots-section {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 30px);

}

.dots {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin: 2px;
    cursor: pointer;
}

.active-dots {
    background-color: #FF6600;
    border: 3px solid #FFFFFF;
}


/*New Carousel Css */

.carousel {
    width: 500px;
    height: 500px;
}


@media screen and (max-width: 768px) {
    .slide {
        width: 80vw;
        height: 100%;
    }

    .arrow-head {
        font-size: 25px;
        margin: 5px;
        color: #FF6600;
        cursor: pointer;
    }

    .dots {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #FFFFFF;
        margin: 2px;
        cursor: pointer;
    }

    .active-dots {
        background-color: #FF6600;
        border: 3px solid #FFFFFF;
    }
}


